body {
  background-image: url(https://images.unsplash.com/photo-1516541196182-6bdb0516ed27?ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60);
}

p {
  color: #757575;
  font-style: italic;
  font-weight: bolder;
  margin: 1em 0;
  padding-left: 5px;
}

h1 {
  color: #757575;
  padding-left: 20px;
}

h3 {
  color: #CFD8DC;
  display: inline-flex;
  padding-right: 10px;
  padding-top: 5px;
}

nav {
  background-image: url(https://images.unsplash.com/photo-1465146633011-14f8e0781093?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60);
  display: inline-flex;
}

a {
  color: black;
}

.cards-grid {
  display: grid;
  flex-grow: 4;
  grid-gap: 10px;
  grid-template-columns: auto auto auto auto;
  padding: 20px;
}

.cards {
  background-color: #FFFFFF;
  border: 2px groove #1F1F3D;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.grid-img {
  display: flex;
  flex-direction: column;
  height: 70%;
  justify-content: space-between;
  object-fit: cover;
  width: 100%;
}

.grid-item {
  background-color: white;
  background-image: url(https://images.unsplash.com/photo-1566041510394-cf7c8fe21800?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60);
  box-shadow: 1px 1px 1px 1px #9E9E9E;
  display: flex;
  flex-direction: column;
  height: 475px;
  position: relative;
}

.user-name {
  height: 20px;
  margin: 0em 0;
  width: 20px;
}

.logo {
  height: 70px;
  padding-bottom: 10px;
  padding-right: 10px;
  width: 90px;
}

.logo-position {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
}

.left-side-nav {
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.top-nav {
  text-align: right;
}

.nav-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menu {
  display: none;
}

.design-style {
  height: 20px;
  padding-left: 20px;
  width: 20px;
}

.video {
  height: 20px;
  padding-left: 20px;
  width: 20px;
}

.pushpin {
  height: 20px;
  padding-left: 10px;
  width: 20px;
}

.pushpin-white {
  height: 35px;
  left: 10px;
  position: absolute;
  top: 10px;
  width: 35px;
}

.drop-down {
  display: none;
}

.web-address {
  background-color: #E8E7EC;
  border-radius: 5px;
  font-size: smaller;
  font-style: italic;
  line-height: 1.3em;
  letter-spacing: 1px;
  margin: 0 1em;
  padding: .75em;
}

.views {
  text-align: right;
  padding-right: 10px;
}


@media only screen and (max-width: 800px) {
  .cards-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .logo {
    display: none;
  }
}

@media only screen and (max-width: 525px) {
  .cards-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  h3, .pushpin, .design-style, .video, .user-name, .logo {
    display: none;
  }

  .menu {
    height: 50px;
    width: 50px;
    display: block;
  }

  .drop-down {
    float: left;
    display: inline-flex;
  }

  .another-div {
    display: inline-flex;
  }
}
